body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    flex-direction: row;
    width: 300px;
    color: white;
    gap: 30px;
}

.header {
    flex-direction: row;
    width: 250px;
    background-color: black;
    border-right: 1px solid rgba(255, 255, 255, 0.1);


}

svg {
    height: 20px;
    width: 20px;

    color: white;
    gap: 20px;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;




}

.cards-container {
    display: flex;
    gap: 20px;
}

.sidebar a {

    display: flex;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.bi {
    height: 20px;
    width: 20px;
    display: flex;
    color: white;
}

.container {
    flex-direction: column;
    background-color: black;
    background-size: cover;
    width: 1500px;
    height: 1000px;
    display: flex;
    vertical-align: middle;
    flex-direction: row;

}

.navbar {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    width: 1000px;
    background-size: cover;
    padding: 30px;
    flex-direction: row;


}

.logo-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: inline;
    padding-top: 60px;
    justify-content: space-between;

    border: 2px #333;
    object-fit: cover;
}


.google {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 30px;
    padding: 40px;

}

.top {
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin: 20px, auto;
    padding: 60px;
}

.btn {
    border-radius: 10%;
    color: white;
    box-sizing: border-box;
    width: 60px;
    height: 50px;
    gap: 30px;
}

.svg-c {
    flex-direction: row;
    display: block;
    display: flex;
}

.btn-m {
    border-radius: 10%;
    color: white;
    box-sizing: border-box;
    width: 70px;
    height: 50px;
    gap: 30px;
}

.profile-img {
    height: 40px;
    width: 40px;

    border-radius: 45%;

}

.counts {
    display: flex;
    flex-direction: row;
    padding: 70px, 30px, 20px, 15px;
    margin: 50px, auto;
    font-size: 20px;
    gap: 15px;

}

.content {
    font-size: 14px;
    color: white;
    gap: 10px;
    margin-top: 15px;

}

.head {
    font-size: 20px;
    color: white
}

.thread {
    display: flex;
    font-size: 18px;
}

.icons {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    text-align: center;
    margin: 20px, 30px, 40px, 50px;
    padding: 30px;
}

.ai-img {
    height: 200px;
    width: 200px;
    position: sticky;
    margin-left: 20px;
    border-radius: 10px;

}

.ai {
    position: sticky;
}

.ai {
    width: 300px;
    /* adjust size */
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tint {
    position: relative;
}

.ai-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.svg-c {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
    padding-right: 30px;
}

.svg {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 1px;
    padding-left: 30px;
}

.icons svg {
    justify-content: end;
}