body {
    background-color: #111;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}


.header {
    background-color: black;
    height: 150vh;
    width: 100vw;
    margin: 60px auto;
    text-align: center;


}



.btn {
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 0 12px 12px 0;
    height: 45px;
    width: 140px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: rgb(213, 63, 63);
}

.flex {
    display: flex;
    text-align: center;
}



.logo {
    height: 60px;
    width: 150px;
    margin-top: 20px;

}

input {
    height: 45px;
    width: 560px;

    padding: 16px 0 0 16px;
    font-size: 16px;
    background-color: rgb(45, 44, 44);
    color: white;
    transition: .3s;
    border: none;

}

input:focus {
    outline: none;
    background-color: #ffffff1e;
}

#poster {
    height: 340px;
    width: 760px;
    object-fit: cover;
}

.suggestion {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 3px 12px;
    font-size: 12px;
    color: black;
    margin: 10px;
    border-radius: 20px;
}

.banner {
    position: relative;
}